*{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

html{
    background-color: lightcyan;
}

.title{
    color: white;
}

img{
    height: auto;
    width: 400px;
}

p, ol, ul, a{
    font-size: 20px;
}